@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

.animated-gradient-dark {
  background: linear-gradient(-45deg, #7d3a27, #7d2a4d, #1a5e79, #166657);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}